@model Reminders.Domain.Models.ReminderModel

@{
    ViewData["Title"] = "Detalhes do Lembrete";
}

<h2>@ViewData["Title"]</h2>

<fieldset>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <strong>@Html.DisplayNameFor(model => model.title):</strong>
        @Html.DisplayFor(model => model.title)
    </div>
    <div class="form-group">
        <strong> @Html.DisplayNameFor(model => model.description):</strong>
        @Html.DisplayFor(model => model.description)
    </div>
    <div class="form-group">
        <strong>@Html.DisplayNameFor(model => model.limit_date):</strong>
        @Html.DisplayFor(model => model.limit_date)
    </div>
    <div class="form-group">
        <strong>@Html.DisplayNameFor(model => model.is_done):</strong>
        @Html.DisplayFor(model => model.is_done)
    </div>
    <div>
        <a asp-action="" class="btn btn-default">Voltar</a>
    </div>
</fieldset>
