@model Reminders.App.Models.ReminderViewModel

@{
    ViewData["Title"] = "Detalhes do Lembrete";
}

<h2>@ViewData["Title"]</h2>

<fieldset>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <strong>@Html.DisplayNameFor(model => model.Title):</strong>
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="form-group">
        <strong> @Html.DisplayNameFor(model => model.Description):</strong>
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="form-group">
        <strong>@Html.DisplayNameFor(model => model.LimitDate):</strong>
        @Html.DisplayFor(model => model.LimitDate)
    </div>
    <div class="form-group">
        <strong>@Html.DisplayNameFor(model => model.IsDone):</strong>
        @Html.DisplayFor(model => model.IsDone)
    </div>
    <div>
        <a asp-action="" class="btn btn-default">Voltar</a>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-info">Editar</a>
    </div>
</fieldset>
