@model IEnumerable<Reminders.Domain.Models.ReminderModel>

@{
    ViewData["Title"] = "Lembretes";
}
<input type="hidden" id="idReminderForDone" value="0" />
<input type="hidden" id="idReminderDone" value="false" />
<input type="hidden" id="actionDelete" value="" />
<br />
<p>
    <a asp-action="Create" class="btn btn-success">Cadastrar novo lembrete</a>
</p>
@if (Model.Count() > 0)
{
    <input type="text" name="searchItems" value="" placeholder="Filtrar os lembretes..." id="searchTable" class="form-control" />
    <br />
    <table class="table table-striped">
        <thead id="theadReminders">
            <tr class="select-head-table">
                <th name="title" asc-order="true">
                    @Html.DisplayNameFor(model => model.title)
                    <span name="title" id="arrowtitle" class="glyphicon glyphicon-chevron-down"></span>
                </th>
                <th name="limitDate" asc-order="true">
                    @Html.DisplayNameFor(model => model.limit_date)
                    <span name="limitDate" id="arrowlimitDate" class="glyphicon glyphicon-chevron-down"></span>
                </th>
                <th name="isDone" asc-order="true">
                    @Html.DisplayNameFor(model => model.is_done)
                    <span name="isDone" id="arrowisDone" class="glyphicon glyphicon-chevron-down"></span>
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="tbodyReminders">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.limit_date)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => item.is_done, new { idReminder = item.id })
                    </td>
                    <td>
                        <a id="deleteReminderAction" href="#" class="action-table"><span idReminder="@item.id" class="glyphicon glyphicon-trash" title="Excluir"></span></a>
                        <a class="action-table" asp-action="Edit" asp-route-id="@item.id"><span class="glyphicon glyphicon-edit" title="Editar"></span></a>
                        <a class="action-table" asp-action="Details" asp-route-id="@item.id"><span class="glyphicon glyphicon-tasks" title="Visualizar"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <h4>Nenhum lembrete cadastrado.</h4>
}
@Html.Partial("~/Views/Partials/_DoneReminderPartialView.cshtml")
@Html.Partial("~/Views/Partials/_DeleteReminderPartialView.cshtml")